<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<main>
  <nav class="breadcrumb">
		<a href="#">Home</a> > <a href="#">Category</a> > <span class="active">Page Title</span>
	</nav>

    <ul>
      <li><h2><a routerLink="/header">Header</a></h2></li>
      <li><h2><a routerLink="/domain">Domain</a></h2></li>
    </ul>
    <section class="child-app content">
        <router-outlet></router-outlet>
    </section>
    <img src="../assets/aid-icon.svg" width="15px" height="15px" [alt]="'add'">
</main>


